.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 1px;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow;
  line-height: 1;
  box-shadow: 0 5px 9px rgba(166, 17, 33, 0.4);
}
.storybook-button--primary {
  color: white;
  background-color: #d7172f;
}

.storybook-button--primary:hover {
  box-shadow: none;
}

.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 0px 16px;
  line-height: 32px;
  height: 32px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 0px 20px;
  line-height: 40px;
  height: 40px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 0px 24px;
  line-height: 48px;
  height: 48px;
}
