.rectangle {
  position: relative;
  width: 207px;
  height: 158px;
}

.rectangle__fill {
  position: absolute;
  inset: 0;
  background-color: #f5f5f5;
}

.rectangle--red .rectangle__fill {
  background-color: #d7192f;
}
