<div
  class="sq-tab"
  [class]="'sq-tab sq-tab--' + size.toLowerCase() + ' sq-tab--' + effectiveStatus.toLowerCase()"
>

  <!-- Icon -->
  <span class="sq-tab__icon">
    <span
      class="sq-tab__icon-mask"
      [style.background-color]="iconColor"
      [style.-webkit-mask-image]="'url(' + iconMask + ')'"
      [style.mask-image]="'url(' + iconMask + ')'"
    ></span>
  </span>

  <!-- Label (L size only) -->
  @if (size === 'L' && showLabel) {
    <span class="sq-tab__label" [style.color]="labelColor">{{ label }}</span>
  }

  <!-- Tooltip left (M + S, shown on hover) -->
  @if (showTooltip && tooltipSide === 'left') {
    <storybook-tooltip
      class="sq-tab__tooltip sq-tab__tooltip--left"
      [arrowSide]="tooltipArrowSide"
      [style]="tooltipStyle"
      [smallLabel]="tooltipSmallLabel"
      [heading]="tooltipHeading"
      [message]="tooltipMessage"
    />
  }

  <!-- Tooltip right (M + S, shown on hover) -->
  @if (showTooltip && tooltipSide === 'right') {
    <storybook-tooltip
      class="sq-tab__tooltip sq-tab__tooltip--right"
      [arrowSide]="tooltipArrowSide"
      [style]="tooltipStyle"
      [smallLabel]="tooltipSmallLabel"
      [heading]="tooltipHeading"
      [message]="tooltipMessage"
    />
  }

</div>
